{% extends 'base.html.twig' %}

{% block title %}Nouvel agent{% endblock %}

{% block body %}
    <h1>Créer un nouvel agent</h1>

    {{ include('agent/_form.html.twig') }}

    <a href="{{ path('agent.index') }}">retour à la liste</a>
{% endblock %}
