<!-- footer -->
<!-- ============================================================== -->
<footer class="footer text-center">
    Tous droits réservés par
    <a href="http://proline.fr">Proline</a>.
</footer>
<!-- ============================================================== -->
<!-- End footer -->