<!--[About Us]-->
<div class="container-fluid">
    <section id="about">
        <div class="row About-Us">
            <div class="col-md-offset-1 col-md-10 about-text">
                <div data-sr='wait 0.1s, then enter left and hustle 125px over 1.5s'>
                    <h2>À propos de Nous</h2>
                    <div class="testimonial-border-white"></div>
                    <p class="text-aboutus">
                        Fort d’une expérience de plus de 10 ans dans le service client, nos professionnels font de nous votre partenaire idéal pour le développement de vos actions commerciales.
                    </p>

                    <p class="text-aboutus" >Si le téléphone a été durant de longues années l’outil marketing le plus utilisé dans la relation client, l’essor du chat n’est plus à démontrer puisqu’il est devenu incontournable en e- commerce.
                        <br>
                        C’est tout simplement une messagerie instantanée qui permet de mettre en relation des clients, des clients potentiels ou de simples visiteurs sur votre site avec des agents destinés à leur apporter une réponse dans les secondes qui suivent.
                        <br>
                        Simple d’utilisation et surtout très rapide, ce canal correspond parfaitement aux utilisateurs d’aujourd’hui en leur offrant un gain de temps considérable.

                    </p>
                    <h2>Pourquoi externaliser ce service ?</h2>
                    <p class="text-aboutus">
                        Une  personne en interne pour gérer les demandes ? C’est possible, mais elle sera souvent amenée à effectuer plusieurs tâches simultanément, prendre des pauses, être en réunion.
                        <br>
                        Nous vous assurons des agents connectés en permanence, permettant ainsi d’assurer la continuité de votre activité en dehors de vos heures de travail. Ceci vous permet de capturer le maximum de lead et réduire votre taux de rebond mais surtout, ne perdre aucun client potentiel.

                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
<!--[About Us end]-->