<!--[Animate Numbers]-->
<div class="container-fluid animate-numbers">
    <div class="row number">
        <div class="col-md-4 count1 count">
            <div class="testimonial-border-white"></div>
            <span class="counter">8220</span>
            <!--<h2>/</h2>-->
            <p>chat traités</p>
        </div>
        <div class="col-md-4 count2 count">
            <div class="testimonial-border-white"></div>
            <span class="counter">158</span>
            <!--<h2>/</h2>-->
            <p>Tasses à café</p>
        </div>

        <div class="col-md-4 count4 count">
            <div class="testimonial-border-white"></div>
            <span class="counter">99</span>
            <!--<h2>/</h2>-->
            <p>Projets</p>
        </div>
    </div>
</div>
<!--[Animate Numbers end]-->