<!--[About Us]-->
<div class="container-fluid">
    <section id="fonctionnality">
        <div class="row About-Us">
            <div class="what_we_do" data-sr='wait 0.1s, then enter left and hustle 125px over 1.5s'>
                <h2 style="color: #fff;">Fonctionnalités</h2>
            </div>
            <div class="col-md-6 fonctionnality-text">
                <div>
                    <h4>Rapport mensuel</h4>
                    <p class="text-aboutus" ><i class="fa fa-asterisk"></i> Obtenez des rapports mensuels détaillés et découvrez ce qui fonctionne et ce qu’il faut améliorer.</p>
                    <p class="text-aboutus" ><i class="fa fa-asterisk"></i> Utilisez des outils qui vous permettent de mieux comprendre les besoins de vos clients.</p>

                    <p class="text-aboutus" ><i class="fa fa-asterisk"></i> Découvrez les performances de vos pages web, des informations sur vos  leads bruts  ou encore le temps de réponse moyen.</p>
                </div>
                <h4>Scripts personnalisés</h4>
                <p class="text-aboutus" >Un questionnaire complet vous sera envoyé avant de commencer notre collaboration. Il contient toutes les informations dont nous avons besoin tel que votre métier, des données basiques concernant votre société, votre offre, les nouveautés,  les différentes questions qu’on peut être amené à avoir regroupées dans un FAQ afin d’avoir des réponses préétablies.</p>
                <p class="text-aboutus" >Un questionnaire complet vous sera envoyé avant de commencer notre collaboration. Il contient toutes les informations dont nous avons besoin tel que votre métier, des données basiques concernant votre société, votre offre, les nouveautés,  les différentes questions qu’on peut être amené à avoir regroupées dans un FAQ afin d’avoir des réponses préétablies. </p>
                <h4>Message proactif</h4>
                <p class="text-aboutus" >C'est une fonctionnalité  qui nous permet de configurer un message pour qu'il apparaisse sur des pages spécifiques de votre site. Le message est conçu pour attirer l’attention des visiteurs et les engager dans une conversation afin que nous puissions leur proposer de l'aide et répondre à leur besoin.</p>
            </div>
            <div class="col-md-6 fonctionnality-text " >
                <div >
                    <h4>Procédé</h4>
                    <h5>Nous procédons en 3 étapes afin de faciliter le plus possible notre démarche :</h5>
                    <ul id="fonctionality" class="list-group">
                        <li class="list-group-item">
                            <p class="text-aboutus" ><i class="fa fa-asterisk"></i>
                                Phase de formation : suite aux informations récoltées de votre part, nous formons nos agents que nous sélectionnons selon un profil très précis. Tous nos conseillers ont les capacités de communication requises, sont patients, organisés et multitâches ce qui leur permet de répondre à plusieurs discussions en parallèle et d’adapter leur discours en conséquence. Durant cette phase, ils prennent connaissances des scripts et des réponses pré-enregistrées, qui représentent la majorité des questions. Pour le reste, ils sont formés afin d’apporter une réponse personnalisée instantanément.
                            </p>
                        </li>
                        <li class="list-group-item">
                            <p class="text-aboutus" ><i class="fa fa-asterisk"></i>
                                Phase d’intégration : grâce à une installation facile, il vous suffit de vous enregistrer pour recevoir un mail contenant les instructions,un code javascript qu’il suffira de copier - coller sur votre site et le tour est joué !
                            </p>
                        </li>
                        <li class="list-group-item">
                            <p class="text-aboutus" ><i class="fa fa-asterisk"></i>
                                Phase opérationnelle : en quelques jours, nos conseillers seront prêt à travailler et débuteront l’activité. Nous pouvons envoyer des rapports réguliers les premières semaines pour apporter les améliorations nécessaires durant la phase de rodage, puis passer à des envois mensuels.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<!--[About Us end]-->