<!--[testimonial]-->
<div class="container-fluid">
    <div class="row testimonial">
        <div class="col-md-12" data-wow-delay="0.1s">
            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                <div class="carousel-inner text-center">
                    <!-- Quote 1 -->
                    <div class="item active">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2 intro ">
                                    <h4 style="line-height: 2.1em !important;">79 % des internautes finalisent leur acte d’achat si le site de l’enseigne propose un tchat</h4>
                                    {#<div class="testimonial-border"></div>#}
                                    {#<p class="testimonial-text"></p>#}
                                    <small>“(Source : Étude Furst Person 2014)”</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 2 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <h4 style="line-height: 2.1em !important;">Le chat est devenu le moyen de contact en ligne le plus convoité avec 42% des utilisateurs, contre 23% pour les mails et 16% pour les autres forums sociaux</h4>
                                    <div class="testimonial-border"></div>

                                    <small>“(Source: J.D. Power)”</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 3 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <h4 style="line-height: 2.1em !important;">53% des consommateurs préfèrent privilégier le chat en ligne avant d’appeler une société pour du support /assistance </h4>
                                    {#<div class="testimonial-border"></div>#}
                                    {#<p class="testimonial-text">“ Une  personne en interne pour gérer les demandes ? C’est possible, mais elle sera souvent amenée à effectuer plusieurs tâches simultanément, prendre des pauses, être en réunion.#}
                                    {#Nous vous assurons des agents connectés en permanence, permettant ainsi d’assurer la continuité de votre activité en dehors de vos heures de travail. Ceci vous permet de capturer le maximum de lead et réduire votre taux de rebond mais surtout, ne perdre aucun client potentiel.#}
                                    {#”</p>#}
                                    <small>“(Source: Harris Research)”</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 4 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <h4 style="line-height: 2.1em !important;">Le chat en ligne procure le meilleur degré de satisfaction au consommateur avec 73% contre 61% pour les mails et 44% pour le téléphone </h4>
                                    {#<div class="testimonial-border"></div>#}
                                    {#<p class="testimonial-text">“ Une  personne en interne pour gérer les demandes ? C’est possible, mais elle sera souvent amenée à effectuer plusieurs tâches simultanément, prendre des pauses, être en réunion.#}
                                    {#Nous vous assurons des agents connectés en permanence, permettant ainsi d’assurer la continuité de votre activité en dehors de vos heures de travail. Ceci vous permet de capturer le maximum de lead et réduire votre taux de rebond mais surtout, ne perdre aucun client potentiel.#}
                                    {#”</p>#}
                                    <small>“(Source: Econsultancy)”</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 5 -->
                    <div class="item">
                        <blockquote>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <h4 style="line-height: 2.1em !important;">Parmi les utilisateurs qui préfèrent le chat, 79% disent que c’est parce qu’ils obtiennent une réponse rapidement, 51% parce que ça leur permet d’effectuer plusieurs tâches simultanément, 46% affirment que c’est le moyen de communication le plus efficace</h4>
                                    {#<div class="testimonial-border"></div>#}
                                    {#<p class="testimonial-text">“ Une  personne en interne pour gérer les demandes ? C’est possible, mais elle sera souvent amenée à effectuer plusieurs tâches simultanément, prendre des pauses, être en réunion.#}
                                    {#Nous vous assurons des agents connectés en permanence, permettant ainsi d’assurer la continuité de votre activité en dehors de vos heures de travail. Ceci vous permet de capturer le maximum de lead et réduire votre taux de rebond mais surtout, ne perdre aucun client potentiel.#}
                                    {#”</p>#}
                                    <small>“(Source: Econsultancy)”</small>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--[testimonial-end]-->