<!--[download]-->
<section id="home" data-speed="4" data-type="background">
    <div class="container-fluid">
        <div class="row download">
            <div class="col-md-12">
                <h2>Wanna more? Check Our offer!</h2>
                <p><a class="btn down" href="#" role="button" data-anijs="if: mouseover, do: pulse animated"></a></p>
            </div>
        </div>
    </div>
</section>
<!--[download-end]-->