<!--[plans-pricing]-->
<div class="container-fluid plans-background">
    <section id="pricing">
        <div id="plans">
            <div class="col-md-12 plans-pricing" data-sr='wait 0.1s, then enter top and hustle 20px over 1s'>
                <h2>Forfaits et tarifs</h2>
                <div class="testimonial-border-white"></div>
            </div>
            <div class="row plans">
                <div class="col-md-4 col-sm-6">
                    <div class="plans-border ">
                        <h3>FORMULE BASIQUE</h3>
                        <h4>Du lundi au vendredi</h4>
                        <h3>Couverture de 9h à 18h</h3>
                        <h2>330&euro; </h2>
                        <h4> HT/ mois</h4>
                        <h3>800 conversations</h3>
                        <p>Conversation supplémentaire à 0,5EUR</p>
                        {#<div class="button-plans">#}
                            {#<a class="btn btn-plans1 btn-lg" href="#" role="button" data-anijs="if: mouseover, do: pulse animated">ACHAT</a>#}
                        {#</div>#}
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="plans-border2 ">
                        <h3>FORMULE SOIREE</h3>
                        <h4>Du lundi au vendredi</h4>
                        <h3>Couverture de 18h à 00h</h3>
                        <h2>330&euro; </h2>
                        <h4> HT/ mois</h4>
                        <h3>600 conversations</h3>
                        <p>Conversation supplémentaire à 0,5EUR</p>
                        {#<div class="button-plans">#}
                            {#<a class="btn btn-plans1 btn-lg" href="#" role="button" data-anijs="if: mouseover, do: pulse animated">ACHAT</a>#}
                        {#</div>#}
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="plans-border3 ">
                        <h3>FORMULE WEEKEND</h3>
                        <h4>Samedi et dimanche</h4>
                        <h3>Couverture de 10h à 23h</h3>
                        <h2>330&euro; </h2>
                        <h4> HT/ mois</h4>
                        <h3>600 conversations</h3>
                        <p>Conversation supplémentaire à 0,5EUR</p>
                        {#<div class="button-plans">#}
                            {#<a class="btn btn-plans1 btn-lg" href="#" role="button" data-anijs="if: mouseover, do: pulse animated">ACHAT</a>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--[plans-pricing-end]-->