<!--[plans-pricing]-->
<div class="container-fluid plans-background">
    <section id="pricing">
        <div id="plans">
            <div class="col-md-12 plans-pricing" data-sr='wait 0.1s, then enter top and hustle 20px over 1s'>
                <h2>Forfaits et tarifs</h2>
                <div class="testimonial-border-white"></div>
            </div>
            <div class="row plans">
                <div class="col-md-6 col-sm-6">
                    <div style="border: 2px solid #c6bfa1;
    padding: 20px;
    color: #fff;
    height: 330px;
    margin-top: 40px;">
                        <h4 class="text-center">Formule standard</h4>

                       <small>
                           Qu’est-ce que la formule standard ? Il s’agit d’une prise en charge de votre live tchat. Nous nous substituons à vous pour répondre aux différentes interrogations de vos clients (grâce à une base de réponses établie en amont d’une façon bilatérale. Il s’agit d’un service mutualisé où nos opérateurs prennent en charge plusieurs projets pour garantir une efficience d’un point de vue coût mais aussi d’un point de vue réactivité avec un temps de réponse ne dépassant pas les 40 secondes.
                           <br> <br>

                           Comment ça marche ? Cette offre couvre une plage horaire de 9 heures au quotidien soit de 9h00 à 18h00 du lundi au vendredi avec une garantie de 800 conversations par mois.
                           <br> <br>

                           Comment souscrire ? il suffit de nous contacter via mail ou téléphone et nous vous installons sous les 24 heures (hors weekend) votre solution.
                           <br>
                       </small>
                    </div>
                    <div class="plans-border ">
                        <h3>FORMULE STANDARD</h3>
                        <h4>Du lundi au vendredi</h4>
                        <h3>Couverture de 9h à 18h</h3>
                        <h2>330&euro; </h2>
                        <h3 style="padding-top: 0px !important;"> HT/ mois</h3>
                        <h3>800 conversations</h3>
                        <p>Conversation supplémentaire à 0,5EUR</p>
                        {#<div class="button-plans">#}
                        {#<a class="btn btn-plans1 btn-lg" href="#" role="button" data-anijs="if: mouseover, do: pulse animated">ACHAT</a>#}
                        {#</div>#}
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                        <div style="border: 2px solid #c6bfa1;
    padding: 20px;
    color: #fff;
    height: 330px;
    margin-top: 40px;">
                          <h4 class="text-center">FORMULE À L'UNITÉ</h4>

                           <small>
                               Qu’est-ce que la formule à l’unité ? Il s’agit d’une formule qui fonctionne au résultat. En plus clair nous nous chargeons de répondre à votre place au live tchat dans le but de récupérer une fiche client qui vous sera communiquée (fiche comportant nom prénom / société / fonction / numéro de téléphone, adresse mail). Une fois la fiche client livrée/transférée, c’est à vos services concernés de prendre le relais pour l’effort de conclure tout acte contractuel. C’est dire qu’il s’agit d’une formule garantissant une optimisation de vos charges selon le résultat obtenu.
                               <br> <br>

                               Comment ça marche ? Cette offre couvre une plage horaire de 09h00 à 23h00 du lundi au vendredi. Aucune limite du nombre de conversations gérées n’est imposée. Vous ne payez qu’en cas de résultat et c’est tout l’intérêt de cette offre !
                               <br> <br>

                               Comment souscrire ? il suffit de nous contacter via mail ou téléphone et nous vous installons sous les 24 heures (hors weekend) votre solution.
                               <br>

                           </small>
                    </div>
                    <div class="plans-border2 ">
                        <h3>FORMULE À L'UNITÉ</h3>
                        <h4>Du lundi au vendredi</h4>
                        <h3>Couverture de 09h à 23h</h3>
                        <h2>10&euro; </h2>
                        <h3 style="padding-top: 0px !important;"> HT/ contact généré</h3>
                        <h3>sans limite de conversations</h3>
                        <p>* Nombre minimum de visiteurs requis</p>
                        {#<div class="button-plans">#}
                        {#<a class="btn btn-plans1 btn-lg" href="#" role="button" data-anijs="if: mouseover, do: pulse animated">ACHAT</a>#}
                        {#</div>#}
                    </div>
                </div>
                {#<div class="col-md-4 col-sm-6">#}
                {#<div class="plans-border3 ">#}
                {#<h3>FORMULE WEEKEND</h3>#}
                {#<h4>Samedi et dimanche</h4>#}
                {#<h3>Couverture de 10h à 23h</h3>#}
                {#<h2>310&euro; </h2>#}
                {#<h4> HT/ mois</h4>#}
                {#<h3>600 conversations</h3>#}
                {#<p>Conversation supplémentaire à 0,5EUR</p>#}
                {#<div class="button-plans">#}
                {#<a class="btn btn-plans1 btn-lg" href="#" role="button" data-anijs="if: mouseover, do: pulse animated">ACHAT</a>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
            </div>
        </div>
    </section>
</div>
<!--[plans-pricing-end]-->