<!--[What we do]-->
<div class="container-fluid what-we">
    <section id="what_we_do">
        <div class="row what_we_do">
            <div class="col-md-12" data-sr='wait 0.1s, then enter top and hustle 50px over 1s'>
                <h2>Services</h2>
                <div class="testimonial-border-us"></div>
                <h5>Découvrez nos services pour l’optimisation du taux de conversion
                </h5>
            </div>
        </div>
        <div class="container">
            <div class="row what">
                <div class="col-md-3 col-sm-4 webdesign"  data-sr='wait 0.1s, then enter left and hustle 50px over 0.8s'>
                    <div class="icons">
                        <i class="fa fa-file-text-o fa-3x file-text-icon"></i>
                    </div>
                    <h2>ENGAGER</h2>
                    <p>Engager un dialogue avec les prospects en temps réel .</p>
                </div>
                <div class="col-md-3 col-sm-4 copywriting" data-sr='wait 0.1s, then enter bottom and hustle 50px over 0.8s'>
                    <div class="icons">
                        <i class="fa fa-clipboard fa-3x file-text-icon"></i>
                    </div>
                    <h2>ASSISTER </h2>
                    <p>Réduisez le taux de rebond en offrant l’assistance nécessaire.</p>
                </div>
                <div class="col-md-3 col-sm-4 coding" data-sr='wait 0.1s, then enter right and hustle 50px over 0.8s'>
                    <div class="icons">
                        <i class="fa fa-file-code-o fa-3x file-text-icon"></i>
                    </div>
                    <h2>OPTIMISER</h2>
                    <p>Améliorer votre taux de conversion et augmenter vos ventes.</p>
                </div>
                <div class="col-md-3 col-sm-4 coding" data-sr='wait 0.1s, then enter right and hustle 50px over 0.8s'>
                    <div class="icons">
                        <i class="fa fa-diamond fa-3x file-text-icon"></i>
                    </div>
                    <h2>FIDELISER</h2>
                    <p>Fidéliser les clients existants et améliorer efficacement l’image de marque.</p>
                </div>
            </div>
        </div>
    </section>
</div>
<!--[What we do - end]-->