<!--[Subscribe]-->
<div id="subscribe">
    <div class="container-fluid">
        <div class="row subs">
            <div class="col-md-6 col-md-offset-3">
                <h2>Newsletter</h2>
                <div class="testimonial-border"></div>
                <input type="email" class="form-control" id="email" placeholder="enter your email">
                <button type="submit" class="buttonSubscribe" data-anijs="if: mouseover, do: pulse animated">SUBSCRIBE</button>
            </div>
        </div>
    </div>
</div>
<!--[Subscribe-end]-->