<!--[jumotron]-->
<section id="start">
    <div class="jumbotron jumbo img-responsive">
        <div class="container" >
            {#<ul>#}
            {#{% for error in form.vars.errors.form.getErrors(true) %}#}
            {#<li>{{ error.message }}</li>#}
            {#{% endfor %}#}
            {#</ul>#}
            <div class="title">
                <h2 data-sr='wait 1s, then enter left and hustle 100px over 0.4s'>CONVERTISSEZ </h2>
                <h2 data-sr='wait 2s, then enter left and hustle 40px over 0.4s'>&nbsp;VOS VISITEURS</h2>
                <h2 data-sr='wait 3s, then enter left and hustle 40px over 0.4s'>&nbsp;EN CLIENTS !</h2>


            </div>
            <p data-sr='wait 3.6s, then enter bottom and hustle 50px over 2s'>
                La solution LIVE-CHAT adaptée à vos besoins


            </p>
        </div>
    </div>
</section>
<!--[jumotron end]-->